repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.4
    hooks:
      - id: ruff
        name: "Ruff Linter"
        args: [--fix, --exit-non-zero-on-fix]

      - id: ruff-format
        name: "Ruff Formatter"

      - id: ruff
        name: "Ruff Linter (final check)"
        args: []
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
