services:
  api:
    build:
      context: ..
      dockerfile: Dockerfile
  #    command: python src/api/main.py
    env_file:
      - ../.env
    volumes:
      - ../src:/app/src
    restart: unless-stopped
    container_name: vacancy-parser-api
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    depends_on:
      - db
      - redis
    ports:
      - "8000:8000"

  db:
    image: postgres:14
    container_name: vacancy-parser-postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${DB_USER:-vacancy_parser}
      POSTGRES_PASSWORD: ${DB_PASSWORD:-vacancy_parser}
      POSTGRES_DB: ${DB_NAME:-vacancy_parser}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: vacancy-parser-redis
    restart: unless-stopped
    command: [ "redis-server", "--appendonly", "yes" ]
#    ports:
#      - "6379:6379"
    volumes:
      - redisdata:/data

volumes:
  pgdata:
  redisdata: